@import "../utils/variables.scss";
@import "../utils/mixins.scss";

%footer-basic {
    height:10vh;
    width:100%;
    @include centered-content;
}

.footer-day {
    @extend %footer-basic;
    background-color: $aqua;
}

.footer-night {
    @extend %footer-basic;
    background-color: $accent;
}