@import '../utils/mixins.scss';

.topic {
    @include background-card;
    @include centered-column-layout;

    &>form>input {
        @include input;
    }

    &>ul {
        list-style-type: none;
        margin-top: 32px;
        @include centered-column-layout;
        gap:4px;
        
        &>li {
            
           
            
        }
    }

}